@model FinalProjectClasses.GymMngmnt.Video
@{
    ViewBag.Title = "Friday";
}
<link href="~/Content/MDB/css/Sidebar.css" rel="stylesheet" />
<h2 class="text-center">Friday is Wings/back Workout day</h2>
<h3 class="text-center">Here is toturials for Wings/back workout</h3>
<div class="text-center ml-4">
    <iframe width="860" height="350" src="@Model.VideoUrl"></iframe>
</div>
