@model FinalProjectClasses.GymMngmnt.Video
@{
    ViewBag.Title = "Monday";
}
<h2 class="text-center">Monday is chest Workout day</h2>
<h3 class="text-center">Here is toturials for chest workout</h3>
<div class="text-center ml-4">
    <iframe width="860" height="350" src="@Model.VideoUrl"></iframe>
</div>

