@model FinalProjectClasses.GymMngmnt.Video
@{
    ViewBag.Title = "Saturday";
}

<div>
    <h2 class="text-center">Saturday is Legs Workout day</h2>
    <h3 class="text-center">Here is toturials for Legs workout</h3>
    <div>
        <iframe width="950" height="415" src="@Model.VideoUrl"></iframe>
    </div>

</div>