@model FinalProjectClasses.GymMngmnt.Video
@{
    ViewBag.Title = "Sunday";
}

<div>
    <h2 class="text-center">Sunday is Abs Workout day</h2>
    <h3 class="text-center">Here is toturials for Abs workout</h3>
    <div>
        <iframe width="950" height="415" src="@Model.VideoUrl"></iframe>
    </div>
</div>