
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="form-group jumbotron" style="margin-top: 17%">
    <h2>Some Thing Went Going to Wrong...!</h2>
</div>
@*@foreach (var v in Session["Data"] as List<string>)
    {
        <ul>
            <li>@v</li>
        </ul>
    }*@

