
@{
    ViewBag.Title = "AddImages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>AddImages</h2>
@using (Html.BeginForm("HireInstructor", "", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="validate-input mt-3">
        <div class="" id="fileUpldbtnContainer" style="padding: 0; width: 221px;">
            <div>
                <img id="blah" src="" alt="" class="img-responsive" style="height: 155px; width: 176px; z-index: 0; position: absolute; top: 6px;" />
            </div>
            <div class="fileUpload" style="height: 152px; width: 176px; padding: 29px 60px; font-size: 70px; color: rgba(0, 0, 0, 0.1); border: 2px solid rgba(0, 0, 0, 0.1);">
                <span class="uploadFile"><span class="fa fa-plus"></span></span>
                <input id="photo" name="photo" type="file" class="upload" style="position: absolute; top: 100px; left: 16px; margin: 0px; padding: 0px; font-size: 35px; cursor: pointer;opacity: 0; filter: alpha(opacity=0); box-sizing: content-box; width: 0px;" />
            </div>
        </div>
    </div>

}
@section myscript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.fileUpload', function () {
                $(this).children('.upload').change(function (event) {
                    readURL(this);
                    fileName = $(this).val();
                });
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        });</script>
}
