@model IEnumerable<FinalProjectClasses.GymMngmnt.Image>
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<h2 class="text-center">Gallery</h2>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-lg-4 ml-4">
            <img src="/Content/GalleryImages/@Url.Content(item.ImageUrl)" style="width: 350px; height: 300px" />
            @Html.DisplayFor(modelItem => item.Text)
        </div>


    }
</div>
