
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5 text-center">
    <div class="col-lg-5"></div>
    <div class="col-lg-8 col-lg-offset-4">
        <div class="jumbotron">
            <strong style="font-weight: 900;color:green ">Congratulation! You Have Been Registred Successfull.</strong>
            <br /> <br />
            <a href="@Url.Action("Index","Member")" class="btn btn-outline-blue"><span class="fa fa-eye mr-1"></span>See Details</a>
        </div>

    </div>
    <div class="mask"></div>
</div>