
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Submitted</title>
</head>
<body>
    <div style="text-align:center">
        <h1>Builder's Gym</h1>   \
        <h1>Check Your Updated Data</h1><br />
    </div>
    <div>

        <a style="margin-left:37%" class="btn btn-primary" href="/Member/FeeSubmit">Fee submission of another member</a><br /><br />
        <a style="margin-left:43%" class="btn btn-danger" href="/Home/Login">Go to Menu</a>
    </div>
</body>
</html>