
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>UpdateDetail</title>
</head>
<body>
    <div class="container">
        <div>
            <h1 style="text-align:center">Builder's Gym</h1>
        </div>
        <div>
            <h1 style="text-align:center">Your Updated View</h1><br />
            <a style="margin-left:37%" href="/Member/ViewUpdate" class="btn btn-primary">Check/Update Another member Details</a><br /><br />
            <a style="margin-left:45%" href="/Home/Login" class="btn btn-danger">Go to Menu</a>
        </div>
    </div>
</body>
</html>
