
@{
    ViewBag.Title = "HireSuccess";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h2>Your Trainer Hired Successfully...?</h2>
    </div>
</div>
