
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessMessage</title>
    <link href="~/Content/Assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>


    </div>
</body>
</html>
