
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessMessage</title>
    <link href="~/Content/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <style>

        .boxShadow {
            -webkit-box-shadow: 17px 13px 6px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 17px 13px 6px 1px rgba(0,0,0,0.75);
            box-shadow: 17px 13px 6px 1px rgba(0,0,0,0.75);
        }
    </style>
</head>
<body>
    <div class="container" style="margin-top: 15%">
        <div class="col-lg-6 offset-lg-2"></div>
        <div class="boxShadow">
            <div class="jumbotron text-center text-justify text-dark" style="font-family: impactHeader">
                Your Message Has Been Recived We will be respose to you as soon as Poosible..!
            </div>
        </div>
    </div>
</body>
</html>
